@charset "UTF-8";
/* settings */

/* 잠실 폰트 */
@font-face {
    font-family: 'TheJamsil5Bold';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2") format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* S 코어 드림 폰트 */
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 프리텐다드 폰트 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'TheJamsil5Bold';
    color: white;

}
h1 {
    margin: 10px 0 0;
}
h3 {
    margin: 10px 0 0;
}
body {
    background-color: #232323;
}
hr {
    margin: 10px 0 20px;
}
a {
    color: white;
}
.lore {
    font-family: 'Pretendard-Regular';
}

.wrap {
    width: 1920px;
    height: 2000px;
    margin: 0 auto;
}
header {
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
}

.menu-wrap {
    width: 100%;
}

.menu-wrap > div {
    width: 100%;
    height: 500px;
    text-align: center;
    position: relative;
}

.menu {
    z-index: 1;
}

.menu li {
    width: 200px;
    line-height: 80px;
    float: left;
    transition: 0.5s;
    position: relative;
}
.menu_hover:hover {
    background-color: #232323;
}
.sub li {
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    background-color: #232323;
}

.sub li:hover {
    background-color: rgb(79, 79, 79);
}

.sub li > a > img {
    width: 40px;
    height: 40px;
}
.sub > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg_drop > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg_drop {
    float: right;
}

.bg_drop:hover > li .sub li {
    height: 80px;
}

.bg_drop:hover+.bg {
    height: 240px;
}

.bg {
    width: 100%;
    height: 0;
    margin-top: 80px;
    transition: 0.5s;
}

.block {
    width: 100%;
    height: 80px;
}

/* 슬라이드 영역을 스타일한 영역 */
#container {
    position: relative;
    overflow: hidden;
    z-index: -1;
    background-color: #000;
  }
  

  .img {
    display: none;
    width: 100%;
    height: 600px;
    opacity: 0.6;
  }
  
  .img.on {
    display: block;
  }

  .Content-Wrap{
    width: 80%;
    margin: 0 auto;
  }
/* 세계 미술품 중 3개를 대표한 컨텐츠 */
.Best3-Gallery > h1 {
    font-size: 46px;
    color: White;
    margin: 50px 0 30px;
}
.Best3-Gallery > p {
    margin: 30px 0 20px;
}

.Art-Box {
    display: flex;
    justify-content: space-between;
}

.Art1 > a > img {
    width: 400px;
    height: 300px;
}
.Art2 > a > img {
    width: 400px;
    height: 300px;
}
.Art3 > a > img {
    width: 400px;
    height: 300px;
}

/* 세계 화가 중 2명을 대표한 컨텐츠 */
.Best2-Painter > h1 {
    color: white;
    margin: 50px 0 30px;
    font-size: 46px;
}
.Best2-Painter > p {
    margin: 30px 0 20px;
}

.Painter-Box {
    display: flex;
    justify-content: space-between;
}
.Painter1 > a > img {
    width: 620px;
    height: 450px;
}
.Painter2 > a > img {
    width: 620px;
    height: 450px;
}

/* Museum 컨텐츠 시작 */

.Museum-Info {
    width: 100%;
    height: 1500px;
}
.Museum1-Wrap,
.Museum2-Wrap,
.Museum3-Wrap {
    display: flex;
    width: 100%;
    height: 400px;
}
.Museum1-Img,
.Museum2-Img,
.Museum3-Img {
    width: 50%;
    height: 100%;
}
.Museum1-Info,
.Museum2-Info,
.Museum3-Info {
    background-color: #444444;
    width: 50%;
    height: 100%;

}
.Museum1-Info,
.Museum2-Info,
.Museum3-Info > p {
    font-size: 14.5px;
    margin: 10px;

}

footer {
    width: 100%;
    height: 180px;
    background-color: #2B211A;
    display: flex;
    justify-content: space-between;
    color: white;
}
.Left-Footer {
    width: 300px;
    display: flex;
    justify-content: space-between;
}
